* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "GFS Didot", serif;
}

.material-symbols-outlined {
    color: #333;
}

p, input, button {
    font-family: "EB Garamond", serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: #333;
}


.large-screen {
    display: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    transition: .5s ease;
    
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: .5s ease;

}

.white {
    color: white ;
}

.charcoal {
    color: #333;
}

.white:hover {
    color: #38a3a5;
    transition: .5s ease;
}

/* Navigation Section */

.drop-btn {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.dropdown {
    width: 100vw;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 10vh;
    right: 0;
}

.dropdown ul {
    padding: 1rem;
    width: 100%;
}

.dropdown ul li {
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
}

.border-top {
    border-top: 1px solid white;
}

nav {
    height: 10vh;
    background-color: #38a3a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

li {
    list-style: none;
}

/* Hero Section */

.hero-background {
    background: url(https://i.imgur.com/DdWzBTy.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.darkened {
    width: 100%;
    background-image: linear-gradient(to bottom, #333, transparent);
    color: white;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 0 0;
}

.darkened h2 {
    padding-bottom: 2rem;
}

form {
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 5px;
    color: #333;
}

form h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem;
    margin: 2.5rem auto;
}

form p {
    margin: -1rem 0 1rem;
    color: #333;
}

input, textarea {
    width: 90%;
    height: 2.8rem;
    margin: .25rem auto;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: whitesmoke;
    font-size: large;
}


form button {
    border-radius: 5px;
    width: 90%;
    height: 2.8rem;
    margin: .25rem auto 2rem;
    background-color: #38a3a5;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 1px solid #333;
}

h2 {
    padding: 5vh 2.5vh;
}

/* Values Section */

.values-container {
    display: flex;
    overflow: hidden;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #333;
}

.value-title span {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
}

.red {
    color:rgb(235, 81, 81);
}

.teal {
    color: #38a3a5;
}


.previous {
    position: absolute;
    left: 2.5vw;
    top: 55%;
    font-size: x-large;
    cursor: pointer;
    color: #333;
}

.next {
    position: absolute;
    right: 2.5vw;
    top: 55%;
    font-size: x-large;
    cursor: pointer;
    color: #333;
}

.values-header {
    color: #333;
    background: linear-gradient(to bottom, #38a3a5 95%, transparent);
    width: 100%;
    font-size: 1.3rem;
}

.values-header h2 {
    font-weight: normal;
    color: white;
}

.value {
    margin: 5vh 10vw;
}

.value p {
    color: #333;
    text-align: center;

}

.value h3 {
    margin-bottom: 2vh;
    font-size: 1.5rem;
}

.about-section img {
 width: 50vw;
 height: 350px;
}

/* Services Section */

.services {
    padding: 5vh 0;
    margin: 2rem 0 0 0;
    background: linear-gradient(to top, #38a3a5 99%, transparent);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.services h3, h4, p {
    padding: 1rem 5vw;
    color: white;
    text-align: left;
}

.services h3 {
    font-size: 2rem;
    font-weight: normal;;
}

.services h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

.services p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.services img {
    width: 100vw;
    margin: 2.5vh 0;
}

.interior, .exterior {
    position: relative;
}

.interior button, .exterior button {
    position: absolute;
    top: 5vh;
    left: 20vw;
    background-color: #333;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.interior button:hover, .exterior button:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

