* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: "GFS Didot", serif;
}

.material-symbols-outlined {
    color: #333;
}

p, input, button, textarea {
    font-family: "EB Garamond", serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: #333;
}


.large-screen {
    display: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: .5s ease;
    
}

.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: .5s ease;

}

.white {
    color: white ;
}

.charcoal {
    color: #333;
}

.white:hover {
    color: #38a3a5;
    transition: .5s ease;
}

.bg-coal {
    background: linear-gradient(to bottom, #333 95%, transparent);
    padding-bottom: 2vh;
    font-weight: normal;
}

.bg-coal h1, .bg-coal h2, .bg-coal h3, .bg-coal p {
    color: white;
}

.bg-teal {
    background: linear-gradient(to top, #38a3a5 98%, transparent);
    padding: 5vh 0 0;
}

.bg-teal h3 {
    color: white;
    font-weight: normal;
    font-size: 1.5rem;
}

.bg-white {
    padding: 5vh 0;
}

.bg-white h3, .bg-white p {
    color: #333;
}

/* Navigation Section */

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5vh;
}

.drop-btn {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;
}

.dropdown {
    width: 100vw;
    position: absolute;
    background-color: #333;
    padding: 10px 0;
    top: 10vh;
    right: 0;
}

.dropdown ul {
    padding: 1rem 0;
    width: 100%;
}

.dropdown ul li {
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
}

.border-top {
    border-top: 1px solid white;
}

nav {
    height: 10vh;
    background-color: #38a3a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

li {
    list-style: none;
}



/* Hero Section */

.hero-background {
    background: url(https://i.imgur.com/DdWzBTy.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.darkened {
    width: 100%;
    background-image: linear-gradient(to bottom, #333, transparent);
    color: white;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 0 0;
}

.darkened h2 {
    padding-bottom: 2rem;
}

form {
    width: 80%;
    max-width: 350px;
    background-color: white;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 5px;
    color: #333;
}

form h3 {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem;
    margin: 2.5rem auto;
}

form p {
    margin: -1rem 0 1rem;
    color: #333;
}

input, textarea, select {
    width: 90%;
    height: 2.8rem;
    margin: .25rem auto;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: whitesmoke;
    font-size: large;
}


form button {
    border-radius: 5px;
    width: 90%;
    height: 2.8rem;
    margin: .25rem auto 2rem;
    background-color: #38a3a5;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 1px solid #333;
}

h2 {
    padding: 5vh 2.5vh;
}

/* Values Section */

.values-container {
    display: flex;
    overflow: hidden;
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #333;
    min-height: 50vh;
}

.value-title span {
    margin: 0 auto 1rem;
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

.red {
    color:rgb(235, 81, 81);
}

.teal {
    color: #38a3a5;
}


.previous {
    position: absolute;
    left: 2.5vw;
    top: 55%;
    font-size: x-large;
    cursor: pointer;
    color: #333;
}

.next {
    position: absolute;
    right: 2.5vw;
    top: 55%;
    font-size: x-large;
    cursor: pointer;
    color: #333;
}

.values-header {
    color: #333;
    background: linear-gradient(to bottom, #38a3a5 95%, transparent);
    width: 100%;
    font-size: 1.3rem;
}

.values-header h2 {
    font-weight: normal;
    color: white;
}

.value {
    margin: 5vh 10vw;
}

.value p {
    color: #333;
    text-align: center;

}

.value h3 {
    margin-bottom: 2vh;
    font-size: 1.5rem;
}


/* Services Section */

.services {
    padding: 5vh 0;
    margin: 2rem 0 0 0;
    background: linear-gradient(to top, #38a3a5 99%, transparent);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.services h3, h4, p {
    padding: 1rem 5vw;
    color: white;
    text-align: left;
    max-width: 1130px;
    margin: 0 auto;
}

.services h3 {
    font-size: 2rem;
    font-weight: normal;;
}

.services h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

.services p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.services img, .bg-teal img {
    width: 100vw;
    max-width: 1000px;
}

img {
    margin-bottom: 4vh;
}



.services-button, .contact-button {

    background-color: #333;
    color: white;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    border: none;
}

.services-button:hover{
    transform: scale(1.1);
    transition: .5s ease;
}


/* Contact Section */

.contact-section {
    background: url('https://i.imgur.com/ixQDboA.jpg') no-repeat center;
    background-size: cover;
    padding: 5vh 0;
}

/* Testimonials Section */

.testimonials {
    padding: 5vh 5vw 10vh;
    min-height: 550px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Service Details Page */

.detail-container {
    padding: 2.5vh 0;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}

.list-item {
    display: grid;
    justify-self: center;
    padding: 2.5vh 0;
}

/* About Page */

/* .about-info {
    
} */


.about-info img {
    width: 100vw;
    margin-bottom: -1rem;
}

.about-footer {
    padding: 5vh 0 10vh;
}

.contact-button {
    margin-bottom: 5vh;
    background-color: #38a3a5;
}

/* Contact Page */

.contact-us-form {
 max-width: 1200px;
}

.map {
    margin: 2rem 0 -1rem;
    width: 100vw;
    height: 40vh;
}

/* Footer Section */

.footer {
    background-color: #333;
}

.footer h2, .footer h3, .footer p {
    color: white;
    font-weight: normal;
    text-align: center;
}



@media screen and (width > 1000px) {
    img {
        border-radius: 10px;
    }

    .grid {
        grid-template-columns: repeat(3, auto);
    }
}